/* Whole Page Style */

body {
  color: #666;
}

li,
p {
  font: 16px/2 'Lucida Grande', sans-serif;
}

/* Headings */

h1 {
  font: normal 48px 'Lucida Grande', sans-serif;
  margin: 44px 0 26px 0;
}

h2 {
  margin: 0 0 27px 0;
  color: #F07C17;
  font: bold 24px 'Lucida Grande', sans-serif;
}

/* Sidebar */

.features {
  border: 1px solid #CCC;
  padding: 30px;
  margin-top: 30px;
}